.gitig

Proyecto TFG/Library/*
Proyecto TFG/Assets/External/Ancient Set - Temples Marc/*
Proyecto TFG/Assets/External/Models/*
Proyecto TFG/Assets/External/Prefabs GOD/*
Proyecto TFG/Assets/External/UnityTechnologies/*
Proyecto TFG/Assets/External/UltimateXR/*
Proyecto TFG/Assets/External/Character/*
Proyecto TFG/Assets/External/Smartphone/*
Proyecto TFG/Assets/External/VRTemplateAssets/*
Proyecto TFG/Assets/External/VR Body/*