.gitig

Proyecto TFG/Library/*
Proyecto TFG/Assets/External/*
Proyecto TFG/Assets/Plugins/*
Proyecto TFG/Assets/Samples/*
Proyecto TFG/Assets/Old/*
Proyecto TFG/Assets/Avatars/*
Proyecto TFG/Assets/BNG Framework/*
Proyecto TFG/Assets/Nature - Essentials/*
Proyecto TFG/Assets/NPCS/*
Proyecto TFG/Assets/XR/*
Proyecto TFG/Assets/XRI/*